* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
  
}

:root {
  /* link pallet */
  /* https://colors.muz.li/palette/8a2be2/4a1e9e/ddcbff/bb98ff/ffffff */
  --my-background: #edecec;
  --my-shadow: #333;
  --my-strong: #4a1e9e;
  --my-hover: #340c5a;
  --my-textLigth: #ddcbff;
}


body {
  background-color: var(--my-background);
  color:var(--my-strong)
}
.container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  gap: 25px;
}

.admin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 80vh;
  border-radius: 40px;
  background-color: var(--my-textLigth);
  margin: 20px;
}

.img-person {
  height: 100px;
}

/*--------------- inicio ---------------*/
.title-inicio {
  width: 80vw;
  margin: 20px;
  height: 60px;
  background-color:var(--my-textLigth);
  border-radius: 40px;
  font-size: 35px;
  text-align: center;
}

.inicio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 75vw;
  height: 60vh;
}

.card {
  background-color: var(--my-textLigth);
  width: 250px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border-radius: 20px;
}

.folder-check {
  height: 40px;
}

.card:hover {
  background-color: var(--my-strong);
  color: var(--my-textLigth);
}

/*--------------- botones ---------------*/
.btn {
  background-color: var(--my-textLigth);
  padding: 20px;
  border: none;
  border-radius: 20px;
  width: 90%;
  text-decoration: none;
  color: var(--my-strong);
}

.btn:hover {
  background-color: var(--my-strong);
  color: var(--my-textLigth);
}

/*--------------- clientes ---------------*/
.clientes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60vh;
}

.title-clientes {
  width: 75vw;
  margin: 20px;
  height: 60px;
  background-color: var(--my-textLigth);
  border-radius: 40px;
  font-size: 35px;
  text-align: center;
}

.list-clientes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.buscar-agregar-cliente {
  height: 60px;
  width: 80vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.search {
  border: none;
  padding: 15px;
  border-bottom: 2px solid var(--my-strong);
  border-radius: 10px;
  text-align: center;
}

.bi-search {
  height: 40px;
  cursor: pointer;
}
.crear-cliente {
  padding: 15px;
  font-size: 13px;
  width: 10%;
}

.tabla-clientes {
  gap: 10px;
  border-collapse: collapse;
  text-align: center;
}

thead {
  background-color: var(--my-strong);
  color: var(--my-textLigth);
}
.tabla-clientes th {
  padding: 5px 20px;
}
.tabla-clientes td {
  padding: 10px 20px;
}

.tabla-clientes th:first-child {
  border-radius: 10px 0 0 10px;
}
.tabla-clientes th:last-child {
  border-radius: 0 10px 10px 0;
}

.icon {
  height: 20px;
  gap: 10px;
}

.btn-list:hover {
  cursor: pointer;
  background-color: var(--my-textLigth);
  padding: 2px;
  border-radius: 5px
}

/*--------------- nuevo cliente ---------------*/
.new-cliente-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60vh;
}

.title-new-cliente {
  width: 75vw;
  margin: 20px;
  height: 60px;
  background-color: var(--my-textLigth);
  border-radius: 40px;
  font-size: 35px;
  text-align: center;
}

.form-new-cliente{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 3em;
}

.guardar-cliente{
  width:100px;
}

.form-cliente{
  display: flex;
  text-align: center;
}

.info-cliente{
  width: 500px;
  display: flex;
  flex-wrap: wrap;
}

.input-cliente input{
  margin: 5px 5px;
  border: none;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  width: 200px;
}
.input-cliente select{
  margin: 5px 5px;
  border: none;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  width: 200px;
}
